.HeaderText {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

.HeaderResetButton {
  left: 0;
  top: 5px;
  position: absolute;
}

.Dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
}

.SimulationContextContainer {
  display: inline-block;
  height: 500px;
  min-width: 330px;
}

.ContextRow {
  display: inline-block;
  width: 300px;
  height: 500px;
  left: 0;
}

.ContextCol {
  left: 0;
}

.ModulesContainer {
  display: inline-block;
  height: 500px;
  min-width: 600px;
  margin-left: 100px;
  margin-right: 100px;
}

.ModulesRow {
  display: inline-block;
  width: 600px;
  height: 500px;
}

.ModulesCol {
}

.HouseLayoutContainer {
  height: 500px;
  display: inline-block;
  vertical-align: top;
}

.HouseLayoutImage {
  display: inline-block;
  width: 630px;
  height: 400px;
  margin-bottom: 15px;
}

.SectionHeader {
  color: white;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
  background-color: #282c34;
}

.ContextHeader {
  text-align: center;
  min-width: 300px;
}

.ModulesHeader {
  text-align: center;
  min-width: 600px;
}
