.houseLayoutContainer {
  width: 600px;
  height: 400px;
  position: relative;
  top: 100px;
  float: right;
  border-style: solid;
  border-color: black;
}

.houseLayoutRepresentation {
  width: 600px;
  height: 400px;
  position: relative;
}

