.houseLayoutContainer {
  width: 750px;
  height: 500px;
  position: relative;
  top: 200px;
  float: right;
  border-style: solid;
  border-color: black;
}

.houseLayoutRepresentation {
  width: 750px;
  height: 500px;
  position: relative;
}

