.Modules {
  background-color: white;
  min-width: 600px;
  height: 500px;
}

.Module {
  text-align: left;
  padding: 10px;
}

.Tabs {
  background-color: #b6b9bd;
  width: 100%;
  height: 50px;
}

.Tab {
  background-color: #b6b9bd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60px;
  float: left;
}

.Tab:hover {
  border: 2px solid #282c34;
}

.ActiveTab {
  background-color: #282c34;
  color: white;
}
.ItemsTable{
  text-align: left;
}
.styleText{
  align-items: right;
  height: 5em;
  width:  15em;
}