.SimulationParametersView {
  position: absolute;
  top: 150px;
  width: 100%;
}

.SimulationParametersView_center {
  display: flex;
}

.SimulationParametersView_profile {
  border-radius: unset;
  border-right: 4px solid grey;
  height: 500px;
  width: 50%;
}

.SimulationParametersView_simulationParameters {
  width:50%;
}

.SimulationParametersView_buttons {
  position:absolute;;
  right: 100px;
}

.SimulationParametersView_buttons_skip {
  width: 90px;
  background: #7d8991;
  height: 25px;
  margin: 2px;
}

.SimulationParametersView_buttons_apply {
  width: 100px;
  background: #3279a8;
  height: 25px;
  margin: 2px;
}
